{{/* boolean feature tags */}}
{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from LastPass */}}
{{- $email := " " -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "Daniels-MBP" -}}
{{-   $email = "danny.seymour@ibm.com" -}}
{{- else -}}
{{-   $email = "danny@seymour.family" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    docker = {{ $docker }}
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    kubernetes = {{ $kubernetes }}
    personal = {{ $personal }}
[diff]
    exclude = ["externals"]
